.h1s{
    background-color: #87ceeb ;
    text-align: center;
}
.h3s{
     background-color: red;
    text-align: center;
}
.as{
      background-color:  #90EE90; 
      text-align: center;
      padding: 5px;
      margin-top: 150px;
      border-style: solid;
      border-color:white;
      border-width: 5px;
}
.h1se{
      background-color: yellow ;
      text-align: center;
}   
a:link {
  text-decoration: none;
   
}

